{% extends 'base.html' %}
{% block content %}
<section class="section-conten padding-y pt-5" style="min-height:84vh; background-color: #793FDF;">

	<!-- ============================ COMPONENT LOGIN   ================================= -->
	{% if messages %}
	{% for m in messages %}
		<div class="alert alert-warning w-50 d-block m-auto mb-3" role="alert">
			{{m}}
		</div>
	{% endfor %}
	{% endif %}
		<div class="card mx-auto " style="max-width: 380px;">
		  <div class="card-body">
		  <h4 class="card-title mb-4">Sign in</h4>
		  <form method="POST">
			{% csrf_token %}
			  <div class="form-group">
				 <input type="text" class="form-control" placeholder="Username" name='username'>
			  </div> <!-- form-group// -->
			  <br/>
			  <div class="form-group">
				<input type="password" class="form-control" placeholder="Password" name= 'password' >
			  </div> <!-- form-group// -->
			  <br/>
			  {% comment %} <div class="form-group">
				  <a href="#" class="float-right">Forgot password?</a> 
			   
			  </div> <!-- form-group form-check .// --> {% endcomment %}
			  <div class="form-group">
				  <button type="submit" class="btn btn-primary btn-block"> SignIn  </button>
			  </div> <!-- form-group// -->    
		  </form>
		  </div> <!-- card-body.// -->
		</div> <!-- card .// -->
	
		 <p class="text-center mt-4">Don't have account? <a href="{% url 'register' %}">Sign up</a></p>
		 <br><br>
	<!-- ============================ COMPONENT LOGIN  END.// ================================= -->
	
	
	</section>
{% endblock  %}